node_modules
.env

# Bubble contracts (per-chain address files synced by sync-gc-addresses task)
/contracts/bubble

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
